# Virtual env
.televenv

# Cache
__pycache__/
.pytest_cache/
.vscode

# DVC
/.dvc/tmp
/.dvc/cache

# Scraped data
scraper/

# Secrets and artifacts
.env
logs/

# Python artifacts
wheelhouse/

# JSON files
*.json

# dbt artifacts
target/

# Images
data/images/